<hr>

<div class="container" id='address_list' ng-show="mode!='create_address'" >
<!--    THIS IS AN EXAMPLE-->
    <div class="col-md-3 col-sm-6 hero-feature address_list" ng-repeat="(key,value) in addressList">
        <input id='radio' type='radio' value='{{value.id}}' name='address' ng-model='enquiry.address_id'>
        <div for='radio'><div>Name: {{value.full_name}}</div>
        <div>Address: {{value.address}}</div>
        <div>Area: {{value.area}}</div>
        <div>Mobile number: {{value.mobile_number}}</div>
        <div>Landmark: {{value.landmark}}</div>
        <div>City: {{value.city}}</div>
        <div>State: {{value.state}}</div>
        <div>Pin: {{value.pin}}</div>
        <div>
            <a href='#/address/{{value.id}}/edit'> Edit </a> 
            <a class='pull-right pulseWarning' href='' ng-click="delete(value.id)">
                Delete 
            </a>

        </div>
        </div>

    </div>





<div class="row"></div>
<hr>
<div class="container">
    <form ng-submit="placeEnquiry()">
        <label class="control-label" for="username">Pick up date</label><label class="required_span">*</label>
        <div class="row">
            <input readonly  id="pickup_date" placeholder="Pick up date" class="form-control input-lg" required type='text' ng-model='enquiry.pickup_date' jqdatepicker>
            
        </div>
        <label class="control-label" for="username">Pick up time</label><label class="required_span">*</label>
        <div class="row">
            <select class="form-control input-lg"  name=""  ng-model='enquiry.pickup_time' required>
                <option ng-repeat="i in availableTimeList" value="{{i.val}}">{{i.val}}</option>
            </select>
        </div>
        <p class="errorMsg">{{errorMessage}}</p>

        <div class="row">
            <button class="btn btn-success">Select address and Continue</button>
        </div>
        OR 
<div class="row">
    <a class="btn btn-success" ng-click='setMode("create_address")'  >Add new address</a>
</div>
    </form>
</div>



</div>
<addressform></adressform>
<div class="container">
    <button id="btn-login" class="btn btn-success">Request service now</button>
</div>

