<div>
    <form ng-submit="changePassword()">
        <input ng-model="passwordObject.old_password" type='password' placeholder='Old password' name='old_password'>
        <input ng-model="passwordObject.new_password" type='password' placeholder='New password' name='new_password'>
        <input ng-model="passwordObject.reenter_new_password" type='password' placeholder='Reenter new password' name='reenter_new_password'>
        <input type="submit" value="Save">
    </form>
    {{errorMessage}}
</div>