<div ng-hide="attrs.id">
    <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>

</div>
<div ng-show="attrs.id">
    <div style='width:40%,float:left'>
        <span ng-show="quantityMax">
            <select name="quantity" id="quantity" ng-model="q"
                    ng-options=" v for v in qtyOpt"></select>
        </span>
        <a class="btn btn-sm btn-primary"
           ng-click="ngCart.addItem(id, name, price, q, data)"
           >Add to cart</a>
    </div>
    <span  ng-show="inCart()" class="cart_added">Added. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
    </span>
</div>